@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,600;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: black;
    --secondary-color: #570DFF;
    --third-color: blueviolet;
    --padding: 5vh;
    --font: 'Manrope', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 1400px;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

main {
    padding: 2vh 5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */

}

html {
    overflow-y: scroll;
}


h1 {
    font-family: var(--secondary-font);
    letter-spacing: 0.05rem;
    font-weight: 800;
    font-size: 3em;
}

h2 {
    font-size: 2em;
    font-family: var(--secondary-font);
}

p {
    font-size: 1em;
}

section h1 {
    font-size: 3em;
    margin: 0.6em 0;
}

header {
    line-height: 0.3;
}


a {
    text-decoration: none;
    font-family: var(--secondary-font);
}

nav {
    font-weight: 500;
    /* height: 10vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vw;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

nav div a {
    padding: 1vw 1vw;
    transition: 0.2s;
    /* equal to border width */
}

nav div a:hover {
    transform: translate(0, -1vw);
    cursor: pointer;
    text-shadow: 0px 0px 5px white;
}

nav div a:visited {
    color: var(--primary-color);
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}


footer ul {
    display: flex;
    align-items: center;
    list-style: none;
}

footer ul li {
    padding: 0 1vw;
}

hr {
    width: 100%;
}

/* changing the color of the checkbox when it's toggled */
#checkbox:checked {
    background: var(--secondary-color);
}

#checkbox:checked~main {
    background-color: rgb(19, 18, 18);
    color: white;
}

#checkbox:checked~main div a {
    color: white;
}


#checkbox:checked~main div a:visited {
    color: white;
}

#checkbox {
    position: fixed;
    top: 20px;
    right: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    width: 40px;
    height: 20px;
    background: var(--third-color);
    border-radius: min(1vw, 14px);
    cursor: pointer;
    outline: none;
}

#checkbox::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 15px;
    background-color: white;
    border-radius: min(1vw, 14px);
    top: 2.5px;
    left: 2px;
    cursor: pointer;
    transition: .3s linear;
}


#checkbox:checked::before {
    left: 18px;
}

svg {
    color: var(--primary-color);
}

#checkbox:checked+main footer ul li a svg {
    color: white;
}

@media only screen and (max-width: 480px) {
    .nav-links {
        display: flex;
        flex-direction: column;
    }

    #checkbox {
        left: 10px;
        text-align: center;
    }

    p {
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.75em;
    }

    .nav-links a {
        font-size: 1.5em;
    }
}